.register-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #45a049;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 480px) {
  .register-container {
    width: 100%;
    padding: 10px;
  }
  
  .register-input,
  .register-button {
    width: 100%;
  }
}
